/Lab/gas_tax/build/
/Lab/gas_tax/dist/
/Lab/Savitch_8thEd_Chap1_ProgProj4_FreeFall/build/
/Lab/Savitch_8thEd_Chap1_ProgProj4_FreeFall/dist/
/Lab/energy_drinks/build/
/Lab/energy_drinks/dist/
/Lab/Gaddis_8thEd_Chap2_Prob18_EnergyDrink/build/
/Lab/Gaddis_8thEd_Chap2_Prob18_EnergyDrink/dist/
/Lab/lick_my_ass/build/
/Lab/lick_my_ass/dist/
/Lab/RuleOf72/build/
/Lab/RuleOf72/dist/
/Lab/Savitch_9thEd_Chap1_ProgProj4_FreeFall/build/
/Lab/Savitch_9thEd_Chap1_ProgProj4_FreeFall/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_ProgProj3_Coins/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_ProgProj3_Coins/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob11_DistancePerGasTank/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob11_DistancePerGasTank/dist/
/Hmwk/Assignment_1/CPPTemplate/dist/
/Hmwk/Assignment_1/CPPTemplate/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob10_MilesPerGallon/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob10_MilesPerGallon/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_ProgProj1_SumProduct/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_ProgProj1_SumProduct/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob7_OceanLevel/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob7_OceanLevel/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob18_EnergyDrink/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob18_EnergyDrink/build/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_ProgProj4_FreeFall/dist/
/Hmwk/Assignment_1/Savitch_9thEd_Chap1_ProgProj4_FreeFall/build/
/Lab/Gaddis_8thEd_Chap3_Prob19/build/
/Lab/Gaddis_8thEd_Chap3_Prob19/dist/
/Lab/Gaddis_8thEd_Chap3_Prob19_MonthlyPayments/dist/
/Lab/Gaddis_8thEd_Chap3_Prob19_MonthlyPayments/build/
/Lab/Savitch_9thEd_Chap2_ProgProj1/build/
/Lab/Savitch_9thEd_Chap2_ProgProj1/dist/
/Lab/Gaddis_8thEd_Chap3_Prob17_MathTutor/build/
/Lab/Gaddis_8thEd_Chap3_Prob17_MathTutor/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj1/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj1/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj3/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj3/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj5/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj5/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj6/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj6/dist/
/Hmwk/Assignment_2/Gaddis_8thEd_Chap3_Prob22_AngleCalculator/dist/
/Hmwk/Assignment_2/Gaddis_8thEd_Chap3_Prob22_AngleCalculator/build/
/Hmwk/Assignment_2/Gaddis_8thEd_Chap3_Prob12_CelsiustoFarenheit/build/
/Hmwk/Assignment_2/Gaddis_8thEd_Chap3_Prob12_CelsiustoFarenheit/dist/
/Hmwk/Assignment_2/Gaddis_8thEd_Chap3_Prob8_Widgets/build/
/Hmwk/Assignment_2/Gaddis_8thEd_Chap3_Prob8_Widgets/dist/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj10/build/
/Hmwk/Assignment_2/Savitch_9thEd_Chap2_ProgProj10/dist/
/Lab/TruthTables/build/
/Lab/TruthTables/dist/
/Lab/Grade_TernaryOperator/build/
/Lab/Grade_TernaryOperator/dist/
/Lab/Grade_If/dist/
/Lab/Grade_If/build/
/Lab/Grade_IfElse/build/
/Lab/Grade_IfElse/dist/
/Lab/Grade_IfElse_V2/build/
/Lab/Grade_IfElse_V2/dist/
/Lab/Grade_IfElse_V2Style/build/
/Lab/Grade_IfElse_V2Style/dist/
/Lab/Grade_SwitchCase/dist/
/Lab/Grade_SwitchCase/build/
/Lab/Savitch_9thEd_Chap3_Prob6_SoylentGreen/build/
/Lab/Savitch_9thEd_Chap3_Prob6_SoylentGreen/dist/
/Lab/Sort/build/
/Lab/Sort/dist/
/Lab/Sort_arrayloop/build/
/Lab/Sort_arrayloop/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_Prob6_SoylentGreen/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_Prob6_SoylentGreen/dist/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj2_Quadratics/build/
/Hmwk/Assignment_3/Savitch_9thEd_Chap3_ProgProj2_Quadratics/dist/
/Lab/Gaddis_8thEd_Chap5_Prob23_PatternDisplay/build/
/Lab/Gaddis_8thEd_Chap5_Prob23_PatternDisplay/dist/
/Lab/Gaddis_8thEd_Chap5_Prob26_WebPage/build/
/Lab/Gaddis_8thEd_Chap5_Prob26_WebPage/dist/
/Hmwk/Assignment_4/Savitch_9thEd_Chap4_Prob6_VendingMachine/build/
/Hmwk/Assignment_4/Savitch_9thEd_Chap4_Prob6_VendingMachine/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob11_PopulationGrowth/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob11_PopulationGrowth/dist/
/Hmwk/Assignment_4/MenuWithLoops/build/
/Hmwk/Assignment_4/MenuWithLoops/dist/
/Hmwk/Assignment_4/testing 123/build/
/Hmwk/Assignment_4/testing 123/dist/
/Prob3/dist/
/Prob3/build/
/Prob6/dist/
/Prob6/build/
/Lab/Home_V1_Computations/build/
/Lab/Home_V1_Computations/dist/
/Lab/Home_V2_Computations/build/
/Lab/Home_V2_Computations/dist/